{% extends "layout.html" %}

{% load static %}
{% block title %}CarRentHub - Rent Your Dream Car{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <!-- Services -->
    <section id="services" class="services">
      <h2>Our Services</h2>
      <div class="service-boxes">
        <div class="service-box">
          <h3>Daily Rentals</h3>
          <p>Rent a car for a day with affordable pricing.</p>
        </div>
        <div class="service-box">
          <h3>Monthly Packages</h3>
          <p>Save more with our monthly plans.</p>
        </div>
        <div class="service-box">
          <h3>Driver Included</h3>
          <p>Need a driver? We've got you covered.</p>
        </div>
      </div>
    </section>

    <!-- Cars -->
    <section id="cars" class="cars">
      <h2>Available Cars</h2>
      <div class="car-grid">
        {% for avilable in avilables %}
        <div class="car-card">
          <img src="{% static 'images/1.jpg' %}" alt="Car 1" />
          <h3>{{avilable.name}}</h3>
          <p>₹{{avilable.price}}/day</p>
          <a href="{% url "details" avilable.id %}">read more</a>
        </div>
        {% endfor %}

      </div>
    </section>

    <section class="featured">
      <h2>🔥 Trending Offers</h2>
      <div class="car-grid">
        {% for tranding in trandings %}
        <div class="car-card">
          <img src="{% static 'images/1.jpg' %}" alt="Trending Car 1" />
          <h3>{{tranding.name}}</h3>
          <p>
            ₹{{tranding.price}}/day <br /><small style="color: green">{{trandings.offers}}</small>
          </p>
        </div>
        {% endfor %}
    </section>

    <section class="gallery">
      <h2>🚗 Car Gallery</h2>
      <div class="gallery-grid">
        <img src="{% static 'images/1.jpg' %}" alt="Gallery Image 1" />
        <img src="{% static 'images/1.jpg' %}" alt="Gallery Image 2" />
        <img src="{% static 'images/1.jpg' %}" alt="Gallery Image 3" />
        <img src="{% static 'images/1.jpg' %}" alt="Gallery Image 4" />
        <img src="{% static 'images/1.jpg' %}" alt="Gallery Image 5" />
        <img src="{% static 'images/1.jpg' %}" alt="Gallery Image 5" />
        <img src="{% static 'images/1.jpg' %}" alt="Gallery Image 5" />
        <img src="{% static 'images/1.jpg' %}" alt="Gallery Image 5" />
        <img src="{% static 'images/1.jpg' %}" alt="Gallery Image 5" />
        <img src="{% static 'images/1.jpg' %}" alt="Gallery Image 5" />
        <img src="{% static 'images/1.jpg' %}" alt="Gallery Image 5" />
        <img src="{% static 'images/1.jpg' %}" alt="Gallery Image 5" />
      </div>
    </section>

    <!-- Customer Support -->
    <section id="support" class="support">
      <h2>Customer Support</h2>
      <p>Facing an issue? Reach us 24/7 via chat, call or email.</p>
      <a href="#" class="btn">Contact Support</a>
    </section>

    <!-- Footer -->
    {% endblock %}

