{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>
        {% block title %}CarRentHub - Rent Your Dream Car{% endblock %}
    </title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
  </head>
  <body>
    <!-- Navbar -->
    <header>
      <div class="logo">CarRentHub</div>
      <nav>
        <a href="#">Home</a>
        <a href="#services">Services</a>
        <a href="#cars">Cars</a>
        <a href="#support">About</a>
        <a href="#support">Contact</a>
        <a href="#">Login</a>
      </nav>
    </header>

    <!-- Hero Section -->
    <section class="hero">
      <div class="hero-content">
        <h1>Rent a Car Anywhere, Anytime</h1>
        <p>Plan your journey with CarRentHub — the smartest way to travel.</p>

        <div class="search-box">
          <input type="text" placeholder="From (e.g., Ahmedabad)" />
          <input type="text" placeholder="To (e.g., Mumbai)" />
          <button>Search Car</button>
        </div>
      </div>
    </section>

    {% block content %}
    {% endblock %}

    <!-- Footer -->
    <footer>
      <p>&copy; 2025 CarRentHub. All rights reserved of divyesh.</p>
    </footer>
  </body>
</html>
